.main-container-component {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #3e3e3e;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
