.main-container-component {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #3e3e3e;
    text-shadow: #96a1ad 0.1em 0.1em 0.2em;

    .header-title {
        cursor: pointer;
        font-weight: bold;
        line-height: 53px;
        margin-left: 20px;
        font-size: 1.5rem;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
