.name-component {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .person-name {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .person-profession {
        font-size: 1em;
    }
}
