.section-text-component {
    display: flex;
    flex-direction: row;

    &:hover {
        .section-text-edit-buttons {
            display: flex;
        }
    }

    .pwd-textarea-component {
        flex: 1;
    }

    .section-text-edit-buttons {
        display: none;
        flex-direction: column;
        padding-left: 10px;
        width: 18px;

        &.visible {
            display: flex;
        }

        span {
            cursor: pointer;
            text-align: center;

            &.remove-button {
                color: red;
            }
        }

        &.always-visible{
            visibility: visible;
        }
    }
}
