.main-container-component {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #3e3e3e;

    .header-title {
        cursor: pointer;
        font-weight: bold;
        line-height: 53px;
        margin-left: 20px;
        font-size: 1.5rem;
    }

    .app-content {
        width: 100%;
        flex-grow: 1;
    }

    .pwd-footer-middle {
        display: flex;
        align-items: center;
        
        a {
            margin: 0 auto;
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-button {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    float: right;
    line-height: 53px;
    margin-right: 20px;

    &:active {
        color: inherit;
    }
}

.pwd-header-component .pwd-header-dropdown .pwd-dropdown-content a {
    color: inherit;
}
